
/*Top header*/
.top_header {
  background-color: #0f0d1d;
  padding: 1rem 0rem;
}
.top-left ul li {
  margin-right: 2rem;
}
.top-left ul li span {
  padding-right: 0.5rem;
}
.fa, .far, .fas {
  font-family: 'FontAwesome' !important;
}
.top-right ul li a span i {
  font-family: 'FontAwesome';
}
.top-right ul li {
  margin-left: 2rem;
}
.top_header a {
  color: #fff;
  font-size: 1.4rem;
}
.top_header p {
  color: #fff;
  font-size: 1.4rem;
}
.top-right ul {
  justify-content: end;
}

/*--header area--*/
.header_area {
  padding: 2rem 0rem;
  z-index: 999;
}
.serach_box a {
  font-size: 2rem;
}
.right_menu li {
  display: flex;
}

.right_menu {
  display: flex;
  align-items: center;
}
.right_menu li {
  margin-left: 2rem;
}
.get-quote-btn button {
  background-color: #3c72fc;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
}
.get-quote-btn button:hover {
  background-color: #000;
  color: #fff;
}
.call-us-top {
  display: flex;
  align-items: center;
}
.call-icon i {
  font-size: 3rem;
  /* transform: rotate(309deg); */
  padding: 1rem;
}
.call-icon {
  margin-right: 1rem;
  border: 1px solid;
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  position: relative;
}
.call-icon:before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  z-index: -1;
  left: -6px;
  top: -6px;
  border: 1px solid black;
}
.call-now a {
  font-size: 1.6rem;
  font-weight: 500;
}
.call-now span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3c72fc;
}
.get-quote-btn i {
  margin-left: 1rem;
}


/*shrink*/
.shrink.header_area {
  position: fixed;
  top: 0;
  width: 100%;
  transition-delay: 0.09s;
  z-index: 999;
  backdrop-filter: blur(15px);
  background: rgba(244, 244, 244, 0.15);
  border-bottom: 0.3px solid #fff;
}
.shrink.header_area .navbar-brand img {
  visibility: visible;
}
.shrink.header_area {
  transition: 0.7s;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.primary_nav .nav-item .nav-link {
  color: #000;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

@keyframes shines {
  0% {
    -webkit-mask-position: 150%;
  }
  100% {
    -webkit-mask-position: -50%;
  }
}
.navbar-expand-md .navbar-nav {
  gap: 2rem;
}

.dropend .dropdown-toggle::after {
  right: 20px;
  top: 15px;
}
.dropdown-toggle::after {
  content: "\f107";
  border-top: none;
  border-right: none;
  border-left: none;
  position: absolute;
  font-family: "FontAwesome";
  right: -7px;
  top: 2px;
}

.nav-item.dropdown .show::after {
  transform: rotate(180deg);
}
.nav-item.dropdown .show::before {
  transform: rotate(180deg);
}

.navbar-brand img {
  max-width: 15rem;
  width: 100%;
}
.navbar-expand-md {
  padding: 0;
}
.navbar-brand {
  padding: 0;
  margin: 0;
}

.header_area .container-fluid {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar_icon {
  position: absolute;
  width: 36px;
  height: 24px;
  cursor: pointer;
  top: 8px;
  right: 10px;
}

.navbar_icon:hover span {
  background: #fff;
}

.navbar_icon span {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: all 0.2s, background 0s;
  background: #3c72fc;
}
.navbar_icon .line2 {
  top: 9.5px;
  width: 85%;
}

.navbar_icon .line3 {
  top: 19px;
  width: 70%;
}

.nav-open .line1,
.nav-open .line3 {
  top: 7px;
}

.nav-open .line1 {
  transform: rotate(45deg);
}

.nav-open .line3 {
  transform: rotate(-45deg);
}

.nav-open .line2 {
  opacity: 0;
  visibility: hidden;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #1c1b19;
  transition: 0.7s;
}
.dropdown-menu.mega-menu.shadow.show {
  transform: scale(1, 1);
}
.dropdown-menu.mega-menu.shadow {
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 300ms ease-in-out 0s;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color:#3c72fc;
  ;
  transition: 0.7s;
}

.dropdown-menu li a {
  color: #1b1b1b;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 3rem 1rem 2rem;
  text-transform: uppercase;
  width: 100%;
}
.dropdown-menu li {
  border-bottom: 1px solid #ddd;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  padding: 0;
  border-radius: 0;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  transform: scale(1, 0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  transition: all 300ms ease-in-out 0s;
  display: table-column;
  top: 100%;
}
.navbar-nav li:hover > ul.dropdown-menu {
  transform: scale(1, 1);
}

/*Additional Css*/
.primary_nav li a {
  line-height: 16px;
}
.primary_nav li a .menu-text {
  text-shadow: 0 16px 0;
  display: flex;
  overflow: hidden;
}

#custom-search:focus {
  width: 115px;
}
.dropdown-toggle::after {
  top: 4px;
}
/*Search box Css*/
.form-box {
  display: flex;
}
.form-box button {
    position: absolute;
    right: 0;
    top: 1.2rem;
}

.search-icon button {
  border: none;
  background-color: transparent;
}
.form-box .form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: transparent;
  color: #000;
  font-weight: 300;
}
.form-box button {
  border: none;
  background-color: transparent;
  outline: none;
}
.form-box button:hover {
  background-color:transparent;
}
.form-control:focus {
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
  background-color: transparent;
}
.form-control:focus {
  border-color: #ddd !important;
}
.search-box {
  background-color: #fff;
  padding: 10rem 0rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  border-radius: 0rem 0rem 5rem 5rem;
  display: none;
}
.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1px solid;
  padding: 1rem;
}
/*Search box Css*/

/*Offcanvas Css*/
.offcanvas.offcanvas-start {
  border-right: none;
}
.offcanvas.offcanvas-start {
  background-color: #fff;
}
.offcanvas-header .navbar-brand img {
  /* filter: brightness(0.1); */
  margin-top: 1rem;
}
.shrink .offcanvas-backdrop.show {
  width: var(--bs-offcanvas-width);
  position: inherit;
}
.offcanvas-header .btn-close {
  /* filter: brightness(0) invert(1); */
  opacity: 1;
}




@media (min-width: 1700px) {
}

@media (max-width: 1739.98px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
  .get-quote-btn button {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 991px) {
  .primary_nav .nav-item {
    padding: 0rem;
  }
  .top_header p {
    font-size: 1.2rem;
  }
  .top-left ul li {
    margin-right: 0rem;
  }
  .top-left ul {
    gap: 0.4rem;
  }
  .top_header a {
    font-size: 1.2rem;
  }
  .navbar-expand-md .navbar-nav {
    gap: 1rem;
  }
  .dropdown-menu li a {
    font-size: 1.2rem;
  }
  .call-us-top {
    display: none !important;
  }
  .get-quote-btn button {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
  .primary_nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
  .primary_nav .nav-item:last-child {
    margin: 0rem 0rem 0rem 0rem;
}
}

@media screen and (min-width: 993px) {
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    padding: 0;
    top: 139%;
}

  .dropend ul {
    left: 100%;
    top: 0 !important;
  }
  .dropstart ul {
    right: 100%;
    top: 0 !important;
  }
  .nav-item.dropdown :hover::after {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 767px) {
  .navbar-expand-md .navbar-nav {
    gap: 0rem;
  }
  .top_left ul {
    display: block;
    text-align: center;
  }
  .primary_nav .nav-item {
    padding: 0rem 0rem;
  }
  .dropdown-toggle::after {
    right: -16px;
  }
  .bg-mb {
    border-bottom: 0px dotted;
    padding-bottom: 0rem;
  }
  .shrink .right_menu {
    top: 1.4rem;
  }
  .shrink .navbar_icon {
    top: 1.5rem;
  }
  .shrink.header_area .navbar-brand {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .top_header ul li a {
    font-size: 1.4rem;
  }
  .green-bg {
    background-color: transparent;
  }
  .bg-mb {
    background-color: #3c72fc;
    color: #fff;
    padding: 1rem 0rem;
  }
  .top_header ul li a {
    color: #fff;
  }
  .cart_area {
    margin-right: 1.5rem;
  }
  .top_right ul {
    justify-content: center;
    margin-top: 1rem;
  }
  .primary_nav li a .menu-text {
    text-shadow: none !important;
  }
  .primary_nav li a:hover span {
    --m: calc(0px * 0);
  }
  .primary_nav li a:hover span {
    color: #fff;
  }
  .dropdown-toggle::after {
    right: -14px;
    top: 4px;
  }

  .primary_nav .nav-item {
    padding-left: 0rem;
  }

  .primary_nav .nav-item .nav-link {
    line-height: 35px;
  }

  .cart_icon {
    margin-left: 5px;
  }
  .right_menu {
    position: absolute;
    right: 7rem;
  }
.get-quote-btn button {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }

  .divider {
    display: none;
  }

  .primary_nav .nav-item {
    border-bottom: 1px solid #3c72fc;
    z-index: 1;
  }

  .contact_page {
    border: none !important;
  }

  .primary_nav {
    margin: 15px 0px 0px;
    /* background: url(../images/banner-1.png) no-repeat; */
    background-size: cover;
    padding: 0px 10px;
    background-position: center;
    border: 1px solid #fff;
    position: relative;
  }
  .primary_nav .nav-item .nav-link{
    color: #000;
  }
  .top-left {
    border-bottom: 1px solid;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.top-right ul {
  justify-content: center;
}
.header_area {
  padding: 1rem 0rem;
}
  .primary_nav::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #0000001a; */
  }

  .dropdown-item {
    color: #1b1b1b;
    font-family: var(--ss-poppins);
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #1c1b19;
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    color: #fff;
    background-color: #3c72fc;
  }
  .primary_nav .nav-item {
    padding: 0rem 0rem;
    margin: 0rem !important;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}

@media (max-width: 340px) {
}
