    .quotation-area label {
      font-weight: 600;
      margin: 20px 0px 5px;
      display: block;
    }
    .quotation-area h3 {
      text-align: center;
      color: #000;
      font-size: 3rem;
    }
    .clearfix {
      clear: both;
    }
    .form-check-input {
      margin-top: 0px !important;
    }
    .quotation-area i {
        color: #3498db;
        font-size: 24px;
    }
    .quotation-area input, textarea,select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: vertical;
      outline: none;
    }
    .quotation-area {
      padding: 7rem 0rem;
    }
    .quotation-area button {
      background-color: #3498db;
      color: white;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
    }
    .quotation-area button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    .quotation-area .section {
      margin-top: 40px;
    }
    .quotation-area ul {
      padding-left: 0px;
    }
    .quotation-area li {
        list-style: none;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .quotation-area.form-check label {
        margin-left: 10px;
    }
    .quotation-area .form-check  {
        margin-bottom: 0px;
    }
    .quotation-area .form-check-input:checked[type=checkbox] {
        vertical-align: middle;
        margin-top: 2px;
    }
    .quotation-area .form-check-input[type=checkbox] {
    border-radius: .25em;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
    }
    .quotation-area .form-check-input:focus {
        border-color: #ddd;
        outline: 0;
        box-shadow: 0 0 0 .0rem rgba(13, 110, 253, .25);
    }
    .quotaion-area h3 {
        margin-bottom: 30px;
    }
    .quote-box {
        margin-bottom: 3rem;
    }
    .quote-box h4 {
        margin-bottom: 20px;
        font-size: 2rem;
        color: #000;
        font-weight: 600;
    }
    .quote-box h4 span {
      margin-right: 10px;
      vertical-align: middle;
    }
    .quotation-area .title {
        font-size: 24px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    @media screen and (max-width: 767px)  {
      .quotaion-area h3 {
        margin-bottom: 30px;
        font-size: 2rem;
      }
      .quote-box h4 {
        font-size: 1.8rem;
      }
      .quotation-area {
        padding: 3rem;
      }
    }